---
import { Meteors} from './react/meteors'
---

<section
    data-testid="about"
    id="about"
    class="relative mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:flex-row"
>
    <div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
        <h2 class="font-monospace text-3xl text-orange lg:text-4xl">About me</h2>
        <span class="mb-6 ml-2 h-1 w-10 bg-orange"></span>
    </div>

    <div class="w-full text-justify text-black dark:text-white lg:w-1/2">
        <p class="mb-2">
            I'm a full-stack developer with a passion for creating beautiful and functional web applications. 
            My expertese fall more heavily in backend, mainly with Ruby on Rails, Python and Terraform for infrastructure as code. However, I'm also very comfortable with front-end technologies such as React, Typescript and TailwindCSS.
        </p>
    </div>
    <Meteors number={20} />
</section>