---
import heroImage from '@assets/images/hero_1.png';
import { Image } from '@astrojs/image/components';
import { TypewriterEffect } from './react/typewriter-effect.tsx';
---

<section
    data-testid="hero"
    class="flex h-screen flex-col-reverse items-center justify-center text-center lg:flex-row"
>
    <div class="mb-10 flex flex-col items-center lg:mb-0 lg:w-1/2">
        <div>
            <TypewriterEffect words={[
                { text: "Hi!" },
								{ text: "My" },
								{ text: "name" },
								{ text: "is" },
								{ text: "Noah", className: "text-orange-500" },
								{ text: "Rijkaard", className: "text-orange-500" },
								{ text: "and" },
								{ text: "I" },
								{ text: "am" },
								{ text: "a" },
								{ text: "web" },
								{ text: "developer" },
								{ text: "based" },
								{ text: "in" },
								{ text: "Kuala" },
								{ text: "Lumpur." }
            ]} client:visible/>
        </div>
    </div>
    <div data-testid="hero-img" class="mb-10 flex w-1/2 items-center justify-center">
        <Image
            src={heroImage}
            alt="Coding girl"
            aspectRatio="4:4"
            format="png"
            width={600}
            height={600}
            loading="eager"
        />
    </div>
</section>